.g-errorSummary-list {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.625;
  color: #2a2a2a;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  list-style-type: none;
}

@media print {
  .g-errorSummary-list {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-errorSummary-list {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-errorSummary-list {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .g-errorSummary-list {
    color: #000000;
    color: var(--g-theme-color-black, #000000);
  }
}

@media (min-width: 40.0625em) {
  .g-errorSummary-list {
    margin-bottom: 20px;
  }
}

.g-errorSummary-list .g-errorSummary-list {
  margin-top: 10px;
}

.g-errorSummary-list > li {
  margin-bottom: 5px;
}

.g-errorSummary-list--bullet > li,
.g-errorSummary-list--number > li {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .g-errorSummary-list--bullet > li,
  .g-errorSummary-list--number > li {
    margin-bottom: 5px;
  }
}

.g-errorSummary-summary-list__value > p {
  margin-bottom: 10px;
}

.g-errorSummary-details__text p {
  margin-top: 0;
  margin-bottom: 20px;
}

.g-error-summary {
  color: #0b0c0c;
  padding: 15px;
  margin-bottom: 30px;
  border: 4px solid #b10e1e;
  border: 4px solid var(--g-theme-button-color-warning, #b10e1e);
}

@media print {
  .g-error-summary {
    color: #000000;
    color: var(--g-theme-color-black, #000000);
  }
}

@media (min-width: 40.0625em) {
  .g-error-summary {
    padding: 20px;
  }
}

@media (min-width: 40.0625em) {
  .g-error-summary {
    margin-bottom: 50px;
  }
}

.g-error-summary:focus {
  outline: 3px solid #b53cde;
  outline: 3px solid var(--g-theme-color-brand-1, #b53cde);
  outline-offset: 0;
}

@media (min-width: 40.0625em) {
  .g-error-summary {
    border: 5px solid #b10e1e;
    border: 5px solid var(--g-theme-button-color-warning, #b10e1e);
  }
}

.g-error-summary__title {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.11111;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  .g-error-summary__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-error-summary__title {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .g-error-summary__title {
    font-size: 18pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .g-error-summary__title {
    margin-bottom: 20px;
  }
}

.g-error-summary__body {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
}

@media print {
  .g-error-summary__body {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-error-summary__body {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-error-summary__body {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.g-error-summary__body p {
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .g-error-summary__body p {
    margin-bottom: 20px;
  }
}

.g-error-summary__list {
  margin-top: 0;
  margin-bottom: 0;
}

.g-error-summary__list a {
  font-weight: 700;
}

.g-error-summary__list a:focus {
  outline: 3px solid #b53cde;
  outline: 3px solid var(--g-theme-color-brand-1, #b53cde);
  outline-offset: 0;
}

.g-error-summary__list a:link,
.g-error-summary__list a:visited,
.g-error-summary__list a:hover,
.g-error-summary__list a:active {
  color: #b10e1e;
  color: var(--g-theme-button-color-warning, #b10e1e);
}

.g-error-summary__list a:focus {
  color: #0b0c0c;
}

.g-errorSummary-header__navigation-item a {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.14286;
  white-space: nowrap;
}

@media print {
  .g-errorSummary-header__navigation-item a {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-errorSummary-header__navigation-item a {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .g-errorSummary-header__navigation-item a {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.g-errorSummary-header__navigation-item--active a:link,
.g-errorSummary-header__navigation-item--active a:hover,
.g-errorSummary-header__navigation-item--active a:visited {
  color: #1d8feb;
  color: var(--g-theme-color-dark9, #1d8feb);
}

.g-errorSummary-header__navigation-item--active a:focus {
  color: #0b0c0c;
}

.g-errorSummary-hint > * {
  margin-top: 0px;
}
