.g-fileUploadWithErrorMessage-form-group {
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .g-fileUploadWithErrorMessage-form-group {
    margin-bottom: 30px;
  }
}

.g-fileUploadWithErrorMessage-form-group
  .g-fileUploadWithErrorMessage-form-group:last-of-type {
  margin-bottom: 0;
}

.g-fileUploadWithErrorMessage-form-group--error {
  padding-left: 15px;
  border-left: 5px solid #b10e1e;
  border-left: 5px solid var(--g-theme-button-color-warning, #b10e1e);
}

.g-fileUploadWithErrorMessage-form-group--error
  .g-fileUploadWithErrorMessage-form-group {
  padding: 0;
  border: 0;
}

.g-fileUploadWithErrorMessage-error-message {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  clear: both;
  color: #b10e1e;
  color: var(--g-theme-button-color-warning, #b10e1e);
}

@media print {
  .g-fileUploadWithErrorMessage-error-message {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-fileUploadWithErrorMessage-error-message {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-fileUploadWithErrorMessage-error-message {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.g-fileUploadWithErrorMessage-hint {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  color: #595959;
}

@media print {
  .g-fileUploadWithErrorMessage-hint {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-fileUploadWithErrorMessage-hint {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-fileUploadWithErrorMessage-hint {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.g-fileUploadWithErrorMessage-fieldset__legend
  + .g-fileUploadWithErrorMessage-hint {
  margin-top: -5px;
}

.g-fileUploadWithErrorMessage-label {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #2a2a2a;
  display: block;
  margin-bottom: 5px;
}

@media print {
  .g-fileUploadWithErrorMessage-label {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-fileUploadWithErrorMessage-label {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-fileUploadWithErrorMessage-label {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .g-fileUploadWithErrorMessage-label {
    color: #000000;
    color: var(--g-theme-color-black, #000000);
  }
}

.g-fileUploadWithErrorMessage-character-count
  .g-fileUploadWithErrorMessage-form-group {
  margin-bottom: 5px;
}

.g-fileUploadWithErrorMessage-file-upload {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

@media print {
  .g-fileUploadWithErrorMessage-file-upload {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-fileUploadWithErrorMessage-file-upload {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-fileUploadWithErrorMessage-file-upload {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .g-fileUploadWithErrorMessage-file-upload {
    color: #000000;
    color: var(--g-theme-color-black, #000000);
  }
}

.g-fileUploadWithErrorMessage-file-upload:focus {
  outline: 3px solid #b53cde;
  outline: 3px solid var(--g-theme-color-brand-1, #b53cde);
  outline-offset: 0;
}

.g-fileUploadWithErrorMessage-file-upload--error {
  border: 4px solid #b10e1e;
  border: 4px solid var(--g-theme-button-color-warning, #b10e1e);
}

.g-fileUploadWithErrorMessage-hint > * {
  margin-top: 0px;
}
