.g-textarea-character-count .g-textarea {
  margin-bottom: 5px;
}

.g-textarea {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 40px;
  margin-bottom: 20px;
  padding: 5px;
  resize: vertical;
  border: 1px solid #2a2a2a;
  border: 1px solid var(--g-theme-form-border-color, #2a2a2a);
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #ffffff;
  background-color: var(--g-theme-form-background-color, #ffffff);
  color: g-theme-form-color;
}

.g-textarea:-webkit-autofill,
.g-textarea:-webkit-autofill:hover,
.g-textarea:-webkit-autofill:focus,
.g-textarea:valid,
.g-textarea:invalid {
  background-color: #ffffff;
  background-color: var(--g-theme-form-background-color, #ffffff);
  -webkit-text-fill-color: #2a2a2a !important;
  -webkit-text-fill-color: var(--g-theme-color, #2a2a2a) !important;
  color: #2a2a2a;
  color: var(--g-theme-color, #2a2a2a);
  border: 1px solid #2a2a2a;
  border: 1px solid var(--g-theme-form-border-color, #2a2a2a);
  box-shadow: 0 0 0px 1000px #ffffff inset;
  box-shadow: 0 0 0px 1000px var(--g-theme-form-background-color, #ffffff) inset;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-box-shadow: 0 0 0px 1000px
    var(--g-theme-form-background-color, #ffffff) inset;
}

@media print {
  .g-textarea {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-textarea {
    font-size: 1.1875rem;
    line-height: 1.25;
  }
}

@media print {
  .g-textarea {
    font-size: 14pt;
    line-height: 1.25;
  }
}

.g-textarea:focus {
  outline: 3px solid #b53cde;
  outline: 3px solid var(--g-theme-focus-ring-color, #b53cde);
  outline-offset: 0;
}

@media (min-width: 40.0625em) {
  .g-textarea {
    margin-bottom: 30px;
  }
}

.g-textarea-hint > * {
  margin-top: 0px;
}
