.g-heading-xl {
  color: g-theme-heading-color;
  font-family: g-theme-heading-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: g-theme-heading-xl-font-weight;
  font-size: 3rem;
  line-height: 1.125;
  display: block;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.g-caption + .g-heading-xl,
.g-heading-xl:first-child {
  margin-top: 0rem;
}

.g-heading-xl:last-child {
  margin-bottom: 0rem;
}

@media print {
  .g-heading-xl {
    color: g-theme-print-color;
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-xl {
    font-size: 3.5rem;
    line-height: 1.15;
  }
}

@media print {
  .g-heading-xl {
    font-size: 32pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-xl {
    margin-bottom: 1rem;
  }
}

.g-heading-l {
  color: g-theme-heading-color;
  font-family: g-theme-heading-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: g-theme-heading-l-font-weight;
  font-size: 2rem;
  line-height: 1.2;
  display: block;
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
}

.g-caption + .g-heading-l,
.g-heading-l:first-child {
  margin-top: 0rem;
}

.g-heading-l:last-child {
  margin-bottom: 0rem;
}

@media print {
  .g-heading-l {
    color: g-theme-print-color;
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-l {
    font-size: 2.5rem;
    line-height: 1.25;
  }
}

@media print {
  .g-heading-l {
    font-size: 24pt;
    line-height: 1.05;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-l {
    margin-bottom: 30px;
  }
}

.g-heading-m {
  color: g-theme-heading-color;
  font-family: g-theme-heading-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: g-theme-heading-m-font-weight;
  font-size: 1.5rem;
  line-height: 1.25;
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.g-caption + .g-heading-m,
.g-heading-m:first-child {
  margin-top: 0rem;
}

.g-heading-m:last-child {
  margin-bottom: 0rem;
}

@media print {
  .g-heading-m {
    color: g-theme-print-color;
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-m {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .g-heading-m {
    font-size: 18pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-m {
    margin-bottom: 0.5rem;
  }
}

.g-heading-s {
  color: g-theme-heading-color;
  font-family: g-theme-heading-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: g-theme-heading-s-font-weight;
  font-size: 1.25rem;
  line-height: 1.25;
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.g-caption + .g-heading-s,
.g-heading-s:first-child {
  margin-top: 0rem;
}

.g-heading-s:last-child {
  margin-bottom: 0rem;
}

@media print {
  .g-heading-s {
    color: g-theme-print-color;
    font-family: sans-serif;
  }
}

.g-fieldsetBlock-fieldset__legend .g-heading-s {
  font-size: 1.25rem;
}

@media (min-width: 40.0625em) {
  .g-heading-s {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }

  .g-fieldsetBlock-fieldset__legend .g-heading-s {
    font-size: 1.25rem;
  }
}

@media print {
  .g-heading-s {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-s {
    margin-bottom: 0.5rem;
  }
}

.g-heading-xs {
  color: g-theme-color;
  font-family: g-theme-heading-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: g-theme-heading-xs-font-weight;
  font-size: 1.125rem;
  line-height: 1.25;
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.g-caption + .g-heading-xs,
.g-heading-xs:first-child {
  margin-top: 0rem;
}

.g-heading-xs:last-child {
  margin-bottom: 0rem;
}

@media print {
  .g-heading-xs {
    color: g-theme-print-color;
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-xs {
    font-size: 0.9375rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-heading-xs {
    font-size: 13pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-xs {
    margin-bottom: 0.5rem;
  }
}

.g-heading-xxs {
  color: g-theme-color;
  font-family: g-theme-heading-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: g-theme-heading-xxs-font-weight;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 15px;
}

.g-caption + .g-heading-xxs,
.g-heading-xxs:first-child {
  margin-top: 0rem;
}

.g-heading-xxs:last-child {
  margin-bottom: 0rem;
}

@media print {
  .g-heading-xxs {
    color: g-theme-print-color;
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-xxs {
    font-size: 0.875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-heading-xxs {
    font-size: 12pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .g-heading-xxs {
    margin-bottom: 20px;
  }
}

.g-heading-mb-8 {
  margin-bottom: 8px;
}

.g-heading-mb-0 {
  margin-bottom: 0px;
}

.g-heading-mt-16 {
  margin-bottom: 16px;
}

.g-heading-mt-8 {
  margin-bottom: 8px;
}

.g-heading-mt-0 {
  margin-bottom: 0px;
}
