body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

.css-changes-for-example-only [class^='g-caption'] + [class^='g-heading'],
.css-changes-for-example-only [class^='g-heading']:first-child {
  margin-top: 0 !important;
}

.css-changes-for-example-only {
  padding: 2.5rem 2rem;
}

.css-changes-for-example-only .example__section {
  margin-bottom: 1.5rem;
}

.css-changes-for-example-only > .g-flex-container > .g-flex-row > .g-flex-col {
  background: #eeeeee;
  outline: solid 1px black;
  text-align: center;
  font-size: small;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}

.css-changes-for-example-only .g-button {
  margin-right: 2rem;
}

.css-changes-for-example-only .g-ol-list li,
.css-changes-for-example-only .g-ul-list li {
  margin-bottom: 0.25rem;
}

a:focus {
  outline: #b53cde;
  outline: 3px solid var(--color-theme-focus, #b53cde);
}

.css-changes-for-example-only .example-agency-logo {
  margin: 3px;
  display: inline-block;
}

.css-changes-for-example-only .example-agency-logo__image {
  fill: white;
  color: white;
  margin: 10px 10px 10px 0;
}

.css-changes-for-example-only
  .example-agency-logo__image
  .css-changes-for-example-only
  .example-hidden {
  display: none;
}

.css-changes-for-example-only footer p {
  padding: 0.8em 1em;
}
