.g-alert {
  position: relative;

  background: g-theme-alert-background-color;
  color: g-theme-color;

  margin-bottom: 1em;
  padding: 24px 32px 24px 96px;

  border-radius: 4px;
  border: solid 1px g-theme-alert-border-color;
}

.g-alert::before {
  content: '';
  display: block;
  width: 64px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.g-alert--info::before {
  background-color: g-theme-alert-info-border-color;
}

.g-alert--warning::before {
  background-color: g-theme-alert-warning-border-color;
}

.g-alert--success::before {
  background-color: g-theme-alert-success-border-color;
}

.g-alert--error::before {
  background-color: g-theme-error-border-color;
}

.g-alert__icon {
  position: absolute;
  left: 16px;
  top: 24px;
  fill: g-theme-alert-icon-color;
}
