.g-footer__standard {
  background-color: #363636;
  color: #ffffff;
  font-size: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.g-footer__standard-item {
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 48em) {
  .g-footer__standard-item {
    margin-bottom: 1.5rem;
  }
}

.g-footer__standard-inline-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.g-footer__standard-inline-list-item {
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 48em) {
  .g-footer__standard-inline-list-item {
    display: inline-block;
    vertical-align: top;
  }
}

.g-footer__standard-inline-list-item:last-child {
  margin-right: 0;
}

.g-footer__standard-link {
  color: #d3d3d3;
  text-decoration: underline;
}

.g-footer__standard-link:hover {
  color: #f4f4f4;
}

.g-footer__standard-link--plain {
  color: #ffffff;
  text-decoration: none;
}

.g-footer__standard-link--plain:hover {
  color: #f4f4f4;
}

.g-footer__standard-licence {
  padding-top: 1.5rem;
  margin-bottom: 3rem;
}

.g-footer__standard-copyright {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 48em) {
  .g-footer__standard-copyright {
    text-align: right;
  }
}

.g-footer__standard-small-text {
  font-size: 12px;
  color: #ffffff;
}

.g-footer__icon-govt-logo {
  width: 230px;
  height: 26px;
}

.g-footer__icon-coat-of-arms {
  width: 80px;
  height: 80px;
}

.g-footer__image-coat-of-arms {
  width: 80px;
  height: auto;
}

@media only screen and (min-width: 48em) {
  .g-footer__image-coat-of-arms,
  .g-footer__icon-coat-of-arms {
    margin-bottom: 28px;
  }
}

.g-footer-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}
