.clipboard {
  position: relative;
  text-align: right;
}

.clipboard::after {
  content: ' ';
  display: block;
  clear: both;
}

.clipboard__button {
  border: solid 1px black;
  padding: 0.4rem 0.5rem;
}

.clipboard__tooltip {
  display: inline-block;
  background: #24a882;
  position: relative;
  padding: 0.2rem 0.7rem 0.3rem 0.6rem;
  font-size: 1.5rem;
  position: absolute;
  right: 5.2rem;
  margin-top: -0.3rem;
  opacity: 0;
  display: none;
  pointer-events: none;
}

.clipboard__tooltip--start {
  opacity: 0;
  display: block;
  transform: translateX(0);
  transition: all 1s;
}

.clipboard__tooltip--end {
  opacity: 1;
  display: block;
  transform: translateX(-13px);
  transition: all 1s;
}

.clipboard__tooltip::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #24a882;
  right: -8px;
  top: 0.9rem;
}
