// ============================================================================
// Typography
// ============================================================================
@import './settings-global';
@import './settings-breakpoints';

body {
  color: #2a2a2a;
  color: var(--g-theme-color-heading, #2a2a2a);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-medium;
}

h1 {
  margin-top: $spacing-64;
  margin-bottom: $spacing-16;
  font-size: 3rem;
  line-height: 1.15;

  @media (min-width: 40.0625em) {
    margin-top: $spacing-80;
    font-size: 3.5rem;
  }
}

h2 {
  margin-top: $spacing-48;
  margin-bottom: $spacing-8;
  font-size: 2rem;
  line-height: 1.2;
  @media (min-width: 40.0625em) {
    font-size: 2.5rem;
  }
}

h3,
h4,
h5,
h6 {
  margin-top: $spacing-40;
  margin-bottom: $spacing-8;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.625;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.625;
}

h6 {
  font-size: 1rem;
  line-height: 1.625;
}

p,
ul,
ol {
  margin-top: 0;
  line-height: 1.625;
}

a {
  color: $color-ds-default-link;
  color: var(--color-theme-link, $color-ds-default-link);

  transition: color 0.2s;

  @include print {
    color: $color-core-black;
  }

  &:visited {
    color: $color-ds-default-link-visited;
    color: var(--color-theme-link-visited, $color-ds-default-link-visited);

    @include print {
      color: $color-core-black;
    }
  }
  &:hover {
    color: $color-ds-default-link-hover;
    color: var(--color-theme-link-hover, $color-ds-default-link-hover);
  }
}

code {
  // We need to override styling coming from the prism-js theme.
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    'Andale Mono', 'Ubuntu Mono', monospace;
  background-color: $color-ds-default-off-white;
  color: #017e75;
  @include medium {
    font-size: 18px;
  }
}

hr,
.hr {
  display: block;
  border: 0;
  border-top: 1px solid $color-ds-default-light-grey;
  border-top: 1px solid
    var(--color-theme-light-grey, $color-ds-default-light-grey);
}

.hr--large {
  margin-top: $spacing-32;
  margin-bottom: $spacing-32;

  @include medium {
    margin-top: $spacing-64;
    margin-bottom: $spacing-64;
  }

  @include large {
    margin-top: $spacing-80;
    margin-bottom: $spacing-80;
  }
}
