// ============================================================================
// Skip Link overrides
// ============================================================================
// We are temporarily overriding the Skip Link grid styling here
// TODO: move these into the Design System
@import './settings-global';

.g-skip-link {
  text-align: center;
  background-color: $color-ds-default-focus;
  padding: 10px 0;
  color: $color-core-white !important;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  display: block;
  line-height: 1.6;
  font-size: 20px !important;
  font-family: National2, Arial, sans-serif !important;
  font-family: var(
    --g-theme-font-family,
    National2,
    Arial,
    sans-serif
  ) !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;

  &:focus {
    position: static !important;
    width: auto !important;
    height: auto !important;
    margin: inherit !important;
    overflow: visible !important;
    clip: auto !important;
    clip-path: none !important;
    white-space: inherit !important;
  }
}
