@import 'settings-global';

[class^='g-heading']:first-child,
[class^='g-caption'] + [class^='g-heading'] {
  margin-top: 0 !important;
  font-family: National2, Arial, sans-serif;
}

.g-body {
  font-family: National2, Arial, sans-serif;
}

.g-caption-xl,
.g-caption-l,
.g-caption-m {
  color: #000 !important;
}

// Body Copy
// ======================================

[class^='g-body'] {
  line-height: 1.625 !important;
  margin-bottom: 1rem !important;
}

.g-body-l {
  font-size: 1.5rem !important;

  @media print {
    color: $color-core-black !important;
  }
}

.g-body-m {
  font-size: 1.125rem !important;

  @media (min-width: 40.0625em) {
    font-size: 1.25rem !important;
  }

  @media print {
    color: $color-core-black !important;
  }
}

.g-body-s {
  font-size: 1rem !important;
}

// Lists
// ===========================================
.g-ul,
.g-ol {
  line-height: 1.625 !important;
  margin-bottom: 1rem !important;
  font-size: 1.125rem !important;

  @media (min-width: 40.0625em) {
    font-size: 1.25rem !important;
  }
}

.g-ul li,
.g-ol li {
  margin-bottom: 0.25rem;
}

.g-ul li .g-ul,
.g-ul li .g-ol,
.g-ol li .g-ol,
.g-ol li .g-ul {
  margin-top: 0.5rem;
}

// Links
// ============================================

.g-link {
  color: #005dbb;
  color: var(--color-theme-link, #005dbb) !important;

  @media print {
    color: $color-core-black !important;
  }

  &:hover {
    color: #000c48;
    color: var(--color-theme-link-hover, #000c48) !important;
  }
}
