.g-a-link {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  .g-a-link {
    font-family: sans-serif;
  }
}

.g-a-link:focus {
  outline: 3px solid $g-theme-color-brand-1;
  outline: 3px solid var(--g-theme-color-brand-1, $g-theme-color-brand-1);
  outline-offset: 0;
}

.g-a-link:link {
  color: $g-theme-color-darkblue;
  color: var(--g-theme-color-darkblue, $g-theme-color-darkblue);
}

.g-a-link:visited {
  color: $g-theme-color-dark10;
  color: var(--g-theme-color-dark10, $g-theme-color-dark10);
}

.g-a-link:hover {
  color: $g-theme-color-dark3;
  color: var(--g-theme-color-dark3, $g-theme-color-dark3);
}

.g-a-link:active {
  color: $g-theme-color-dark3;
  color: var(--g-theme-color-dark3, $g-theme-color-dark3);
}

.g-a-link:focus {
  color: #0b0c0c;
}

.g-a-link--muted:link,
.g-a-link--muted:visited,
.g-a-link--muted:hover,
.g-a-link--muted:active {
  color: $g-theme-color-mid-grey;
  color: var(--g-theme-color-mid-grey, $g-theme-color-mid-grey);
}

.g-a-link--muted:focus {
  color: #0b0c0c;
}

.g-a-error-summary__list a {
  font-weight: 700;
}

.g-a-error-summary__list a:focus {
  outline: 3px solid $g-theme-color-brand-1;
  outline: 3px solid var(--g-theme-color-brand-1, $g-theme-color-brand-1);
  outline-offset: 0;
}

.g-a-error-summary__list a:link,
.g-a-error-summary__list a:visited,
.g-a-error-summary__list a:hover,
.g-a-error-summary__list a:active {
  color: $g-theme-color-dark2;
  color: var(--g-theme-color-dark2, $g-theme-color-dark2);
}

.g-a-error-summary__list a:focus {
  color: #0b0c0c;
}

.g-a-header__navigation-item a {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.14286;
  white-space: nowrap;
}

@media print {
  .g-a-header__navigation-item a {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-a-header__navigation-item a {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .g-a-header__navigation-item a {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.g-a-header__navigation-item--active a:link,
.g-a-header__navigation-item--active a:hover,
.g-a-header__navigation-item--active a:visited {
  color: $g-theme-color-dark9;
  color: var(--g-theme-color-dark9, $g-theme-color-dark9);
}

.g-a-header__navigation-item--active a:focus {
  color: #0b0c0c;
}
