.g-link {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  .g-link {
    font-family: sans-serif;
  }
}

.g-link:focus {
  outline: 3px solid #b53cde;
  outline-offset: 0;
}

.g-link:link {
  color: $g-theme-color-darkblue;
  color: var(--g-theme-color-darkblue, $g-theme-color-darkblue);
}

.g-link:visited {
  color: $g-theme-color-dark10;
  color: var(--g-theme-color-dark10, $g-theme-color-dark10);
}

.g-link:hover {
  color: $g-theme-color-dark3;
  color: var(--g-theme-color-dark3, $g-theme-color-dark3);
}

.g-link:active {
  color: $g-theme-color-dark3;
  color: var(--g-theme-color-dark3, $g-theme-color-dark3);
}

.g-link:focus {
  color: #0b0c0c;
}

.g-link--muted:link,
.g-link--muted:visited,
.g-link--muted:hover,
.g-link--muted:active {
  color: $g-theme-color-mid-grey;
  color: var(--g-theme-color-mid-grey, $g-theme-color-mid-grey);
}

.g-link--muted:focus {
  color: #0b0c0c;
}

.g-footer .g-link {
  display: block;
  padding: 0.7em 1em;
  color: #d3d3d3;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 48em) {
  .g-footer .g-link:first-child {
    margin-left: -1em;
  }

  .g-footer .g-link {
    display: inline-block;
    margin-right: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

.g-footer .g-link:hover {
  color: #fff;
}
