.g-checkboxes__hint {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  color: $g-theme-hint-color;
  color: var(--g-theme-hint-color, $g-theme-hint-color);
}

@media print {
  .g-checkboxes__hint {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-checkboxes__hint {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-checkboxes__hint {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.g-fieldset__legend + .g-checkboxes__hint {
  margin-top: -5px;
}

.g-checkboxes__label {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25;
  color: $g-theme-text-color;
  color: var(--g-theme-text-color, $g-theme-text-color);
  display: block;
  margin-bottom: 5px;
}

@media print {
  .g-checkboxes__label {
    color: $g-theme-print-color;
    color: var(--g-theme-print-color, $g-theme-print-color);
  }
}

.g-checkboxes__item {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 16px;
  padding: 0 0 0 40px;
  clear: left;
}

@media print {
  .g-checkboxes__item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-checkboxes__item {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-checkboxes__item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.g-checkboxes__item:last-child,
.g-checkboxes__item:last-of-type {
  margin-bottom: 0;
}

.g-checkboxes__input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0;
  opacity: 0;
}

.g-checkboxes__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.g-checkboxes__hint {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
}

.g-checkboxes__input + .g-checkboxes__label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  background: transparent;
}

.g-checkboxes__input + .g-checkboxes__label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
}

.g-checkboxes__input:focus + .g-checkboxes__label::before,
.g-checkboxes__input.\:focus + .g-checkboxes__label::before {
  outline: 3px solid transparent;
  outline-offset: 3px;
  box-shadow: 0 0 0 3px $g-theme-focus-ring-color;
  box-shadow: 0 0 0 3px
    var(--g-theme-focus-ring-color, $g-theme-focus-ring-color);
}

.g-checkboxes__input:checked + .g-checkboxes__label::after,
.g-checkboxes__input.\:checked + .g-checkboxes__label::after {
  opacity: 1;
}

.g-checkboxes__input:disabled + .g-checkboxes__label,
.g-checkboxes__input.\:disabled + .g-checkboxes__label {
  cursor: default;
}

.g-checkboxes__input:disabled + .g-checkboxes__label,
.g-checkboxes__input.\:disabled + .g-checkboxes__label {
  opacity: 0.5;
}

.g-checkboxes__hint > * {
  margin-top: 0px;
}
