.g-error-message {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  clear: both;
  color: $g-theme-button-color-warning;
  color: var(--g-theme-button-color-warning, $g-theme-button-color-warning);
}

@media print {
  .g-error-message {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-error-message {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-error-message {
    font-size: 14pt;
    line-height: 1.15;
  }
}
