.g-radios-form-divider {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  width: 40px;
  margin-bottom: 10px;
  text-align: center;
}

@media print {
  .g-radios-form-divider {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-radios-form-divider {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-radios-form-divider {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .g-radios-form-divider {
    color: $g-theme-color-black;
    color: var(--g-theme-color-black, $g-theme-color-black);
  }
}
