.g-radios-hint {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  color: #595959;
}

@media print {
  .g-radios-hint {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-radios-hint {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-radios-hint {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.g-radios-fieldset__legend + .g-radios-hint {
  margin-top: -5px;
}

.g-radios-label {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #2a2a2a;
  display: block;
  margin-bottom: 5px;
}

@media print {
  .g-radios-label {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-radios-label {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-radios-label {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .g-radios-label {
    color: $g-theme-color-black;
    color: var(--g-theme-color-black, $g-theme-color-black);
  }
}

.g-radios__item {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 0 0 0 40px;
  clear: left;
}

@media print {
  .g-radios__item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-radios__item {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-radios__item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.g-radios__item:last-child,
.g-radios__item:last-of-type {
  margin-bottom: 0;
}

.g-radios__input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0;
  opacity: 0;
}

.g-radios__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.g-radios__hint {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
}

.g-radios__input + .g-radios__label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background: transparent;
}

.g-radios__input + .g-radios__label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0;
  height: 0;
  border: 10px solid currentColor;
  border-radius: 50%;
  opacity: 0;
  background: currentColor;
}

.g-radios__input:focus + .g-radios__label::before,
.g-radios__input.\:focus + .g-radios__label::before {
  outline: 3px solid transparent;
  outline-offset: 3px;
  box-shadow: 0 0 0 4px $g-theme-color-brand-1;
  box-shadow: 0 0 0 4px var(--g-theme-color-brand-1, $g-theme-color-brand-1);
}

.g-radios__input:checked + .g-radios__label::after,
.g-radios__input.\:checked + .g-radios__label::after {
  opacity: 1;
}

.g-radios__input:disabled + .g-radios__label,
.g-radios__input.\:disabled + .g-radios__label {
  cursor: default;
}

.g-radios__input:disabled + .g-radios__label,
.g-radios__input.\:disabled + .g-radios__label {
  opacity: 0.5;
}

@media (min-width: 40.0625em) {
  .g-radios--inline .g-radios__item {
    margin-right: 20px;
    float: left;
    clear: none;
  }
}

.g-radios--inline.g-radios--conditional .g-radios__item {
  margin-right: 0;
  float: none;
}
