.g-skipLink-error-summary__list a {
  font-weight: 700;
}

.g-skipLink-error-summary__list a:focus {
  outline: 3px solid $g-theme-color-brand-1;
  outline: 3px solid var(--g-theme-color-brand-1, $g-theme-color-brand-1);
  outline-offset: 0;
  background-color: $g-theme-color-brand-1;
  background-color: var(--g-theme-color-brand-1, $g-theme-color-brand-1);
}

.g-skipLink-error-summary__list a:link,
.g-skipLink-error-summary__list a:visited,
.g-skipLink-error-summary__list a:hover,
.g-skipLink-error-summary__list a:active {
  color: $g-theme-color-dark2;
  color: var(--g-theme-color-dark2, $g-theme-color-dark2);
}

.g-skipLink-error-summary__list a:focus {
  color: #0b0c0c;
}

.g-skipLink-header__navigation-item a {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.14286;
  white-space: nowrap;
}

@media print {
  .g-skipLink-header__navigation-item a {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-skipLink-header__navigation-item a {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .g-skipLink-header__navigation-item a {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.g-skipLink-header__navigation-item--active a:link,
.g-skipLink-header__navigation-item--active a:hover,
.g-skipLink-header__navigation-item--active a:visited {
  color: $g-theme-color-dark9;
  color: var(--g-theme-color-dark9, $g-theme-color-dark9);
}

.g-skipLink-header__navigation-item--active a:focus {
  color: #0b0c0c;
}

.g-skip-link {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  line-height: 1.14286;
  display: block;
  padding: 10px 15px;
}

.g-skip-link:active,
.g-skip-link:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: inherit !important;
  overflow: visible !important;
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  white-space: inherit !important;
}

@media print {
  .g-skip-link {
    font-family: sans-serif;
  }
}

.g-skip-link:focus {
  outline: 3px solid $g-theme-color-brand-1;
  outline: 3px solid var(--g-theme-color-brand-1, $g-theme-color-brand-1);
  outline-offset: 0;
  background-color: $g-theme-color-brand-1;
  background-color: var(--g-theme-color-brand-1, $g-theme-color-brand-1);
}

.g-skip-link:link,
.g-skip-link:visited,
.g-skip-link:hover,
.g-skip-link:active,
.g-skip-link:focus {
  color: #0b0c0c;
}

@media print {
  .g-skip-link:link,
  .g-skip-link:visited,
  .g-skip-link:hover,
  .g-skip-link:active,
  .g-skip-link:focus {
    color: $g-theme-color-black;
    color: var(--g-theme-color-black, $g-theme-color-black);
  }
}

@media (min-width: 40.0625em) {
  .g-skip-link {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .g-skip-link {
    font-size: 14pt;
    line-height: 1.2;
  }
}
