.g-textareaWithErrorMessage-form-group {
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .g-textareaWithErrorMessage-form-group {
    margin-bottom: 30px;
  }
}

.g-textareaWithErrorMessage-form-group
  .g-textareaWithErrorMessage-form-group:last-of-type {
  margin-bottom: 0;
}

.g-textareaWithErrorMessage-form-group--error {
  padding-left: 15px;
  border-left: 5px solid $g-theme-button-color-warning;
  border-left: 5px solid
    var(--g-theme-button-color-warning, $g-theme-button-color-warning);
}

.g-textareaWithErrorMessage-form-group--error
  .g-textareaWithErrorMessage-form-group {
  padding: 0;
  border: 0;
}

.g-textareaWithErrorMessage-error-message {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  clear: both;
  color: $g-theme-button-color-warning;
  color: var(--g-theme-button-color-warning, $g-theme-button-color-warning);
}

@media print {
  .g-textareaWithErrorMessage-error-message {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-textareaWithErrorMessage-error-message {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-textareaWithErrorMessage-error-message {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.g-textareaWithErrorMessage-label {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #2a2a2a;
  display: block;
  margin-bottom: 5px;
}

@media print {
  .g-textareaWithErrorMessage-label {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-textareaWithErrorMessage-label {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .g-textareaWithErrorMessage-label {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .g-textareaWithErrorMessage-label {
    color: $g-theme-color-black;
    color: var(--g-theme-color-black, $g-theme-color-black);
  }
}

.g-textareaWithErrorMessage-character-count
  .g-textareaWithErrorMessage-textarea {
  margin-bottom: 5px;
}

.g-textareaWithErrorMessage-character-count
  .g-textareaWithErrorMessage-textarea--error {
  padding: 3px;
}

.g-textareaWithErrorMessage-textarea {
  font-family: $g-theme-font-family;
  font-family: var(--g-theme-font-family, $g-theme-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 40px;
  margin-bottom: 20px;
  padding: 5px;
  resize: vertical;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
}

@media print {
  .g-textareaWithErrorMessage-textarea {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-textareaWithErrorMessage-textarea {
    font-size: 1.1875rem;
    line-height: 1.25;
  }
}

@media print {
  .g-textareaWithErrorMessage-textarea {
    font-size: 14pt;
    line-height: 1.25;
  }
}

.g-textareaWithErrorMessage-textarea:focus {
  outline: 3px solid $g-theme-color-brand-1;
  outline: 3px solid var(--g-theme-color-brand-1, $g-theme-color-brand-1);
  outline-offset: 0;
}

@media (min-width: 40.0625em) {
  .g-textareaWithErrorMessage-textarea {
    margin-bottom: 30px;
  }
}

.g-textareaWithErrorMessage-textarea--error {
  border: 4px solid $g-theme-button-color-warning;
  border: 4px solid
    var(--g-theme-button-color-warning, $g-theme-button-color-warning);
}
