.g-button {
  font-family: Arial, sans-serif;
  font-family: var(--g-theme-font-family, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 16px;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  color: var(--g-theme-button-color, #ffffff);
  background-color: #00823b;
  background-color: var(--g-theme-button-background-color, #00823b);
  box-shadow: 0 2px 0 0 #2a2a2a;
  box-shadow: 0 2px 0 0 var(--g-theme-button-box-shadow-color, #2a2a2a);
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}

@media print {
  .g-button {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .g-button {
    font-size: 1.1875rem;
    line-height: 1;
  }
}

@media print {
  .g-button {
    font-size: 14pt;
    line-height: 19px;
  }
}

.g-button:focus {
  outline: 3px solid #b53cde;
  outline: 3px solid var(--g-theme-focus-ring-color, #b53cde);
  outline-offset: 0;
}

@media (min-width: 40.0625em) {
  .g-button {
    margin-bottom: 32px;
  }
}

@media (min-width: 40.0625em) {
  .g-button {
    width: auto;
  }
}

.g-button:link,
.g-button:visited,
.g-button:active,
.g-button:hover {
  color: #ffffff;
  color: var(--g-theme-button-color, #ffffff);
  text-decoration: none;
}

.g-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.g-button:hover,
.g-button:focus {
  background-color: #00692f;
  background-color: var(--g-theme-button-hover-background-color, #00692f);
}

.g-button:active {
  top: 2px;
  box-shadow: none;
}

.g-button::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -4px;
  left: -2px;
  background: transparent;
}

.g-button:active::before {
  top: -4px;
}

.g-button--disabled,
.g-button[disabled] {
  opacity: 0.5;
  background-color: #00823b;
  background-color: var(--g-theme-button-background-color, #00823b);
}

.g-button--disabled:hover,
.g-button[disabled]:hover {
  background-color: #00823b;
  background-color: var(--g-theme-button-background-color, #00823b);
  cursor: default;
}

.g-button--disabled:focus,
.g-button[disabled]:focus {
  outline: none;
}

.g-button {
  padding-top: 16px;
  padding-bottom: 16px;
}

.g-button-hint > * {
  margin-top: 0px;
}

.g-button--disabled,
.g-button[disabled] {
  opacity: 0.5;
  background: #078766;
  background: var(--g-theme-button-disabled-background-color, #078766);
}

.g-button--disabled:hover,
.g-button[disabled]:hover {
  background-color: #078766;
  background-color: var(--g-theme-button-disabled-background-color, #078766);
  cursor: default;
}

.g-button--disabled:focus,
.g-button[disabled]:focus {
  outline: none;
}

.g-button--disabled:active,
.g-button[disabled]:active {
  top: 0;
  box-shadow: 0 2px 0 #003418;
  box-shadow: 0 2px 0 var(--g-theme-button-active-box-shadow, #003418);
}

.g-button--secondary {
  background-color: #d3d3d3;
  background-color: var(--g-theme-button-secondary-background-color, #d3d3d3);
  box-shadow: 0 2px 0 #2a2a2a;
  box-shadow: 0 2px 0 var(--g-theme-button-box-shadow-color, #2a2a2a);
}

.g-button--secondary,
.g-button--secondary:link,
.g-button--secondary:visited,
.g-button--secondary:active,
.g-button--secondary:hover {
  color: #0b0c0c;
  color: var(--g-theme-button-secondary-color, #0b0c0c);
}

.g-button--secondary:hover,
.g-button--secondary:focus {
  background-color: #b2b2b2;
  background-color: var(
    --g-theme-button-secondary-hover-background-color,
    #b2b2b2
  );
}

.g-button--warning {
  background-color: #b10e1e;
  background-color: var(--g-theme-error-background-color, #b10e1e);
  box-shadow: 0 2px 0 #2a2a2a;
  box-shadow: 0 2px 0 var(--g-theme-button-box-shadow-color, #2a2a2a);
}

.g-button--warning,
.g-button--warning:link,
.g-button--warning:visited,
.g-button--warning:active,
.g-button--warning:hover {
  color: #ffffff;
  color: var(--g-theme-button-color, #ffffff);
}

.g-button--warning:hover,
.g-button--warning:focus {
  background-color: #900815;
  background-color: var(--g-theme-button-warning-background-color, #900815);
}
