.g-li-list > li {
  margin-bottom: 5px;
}

.g-li-list--bullet > li,
.g-li-list--number > li {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .g-li-list--bullet > li,
  .g-li-list--number > li {
    margin-bottom: 5px;
  }
}

.g-li-hint > * {
  margin-top: 0px;
}
