.g-header {
  position: relative; /* so that MainNav's button that's position:absolute will be contained */
  background-color: g-theme-inverted-background-color;
  color: g-theme-inverted-color;
  fill: g-theme-inverted-color;
}
