.g-main-nav {
  display: block;
  padding: 0px;
  margin: 0px;
  background-color: --g-theme-inverted-variant-background-color;
  color: --g-theme-inverted-color;
}

.g-flex-container .g-main-nav,
.g-flex-container-fluid .g-main-nav {
  margin: 0px -1rem;
}

@media only screen and (min-width: 48em) {
  .g-main-nav {
    margin: 0px;
    background-color: transparent;
  }

  .g-flex-container .g-main-nav,
  .g-flex-container-fluid .g-main-nav {
    margin: 0px -2rem;
  }
}

.g-main-nav__button {
  position: absolute;
  top: 3px;
  right: 3px;
  background: transparent;
  color: g-theme-inverted-color;
  font-size: 16px;
  display: none; /* Because the menu requires JavaScript this button is hidden by default and revealed in JS */
  padding: 1em;
  border: none;
}

.g-main-nav__button.g-main-nav--open,
.g-main-nav__button.g-main-nav--closed {
  display: inline-block;
}

@media only screen and (min-width: 48em) {
  /* don't show on larger responsive */
  .g-main-nav__button.g-main-nav--open,
  .g-main-nav__button.g-main-nav--closed {
    display: none;
  }
}

.g-main-nav__button:focus {
  outline: 3px solid g-theme-focus-ring-color;
}

.g-main-nav__button__icon {
  display: inline-block;
  color: g-theme-inverted-menu-button-color;
  transition: transform 0.15s;
  vertical-align: middle;
  margin-left: 0.2em;
  width: 12px;
  height: 12px;
  transform: rotate(180deg);
}

.g-main-nav__button.g-main-nav--closed > .g-main-nav__button__icon {
  transform: rotate(0deg);
}

.g-main-nav__ul {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 0px 1rem;
}

.g-main-nav__ul.g-main-nav--open {
  display: block;
}

.g-main-nav__ul.g-main-nav--closed {
  display: none;
}

@media only screen and (min-width: 48em) {
  .g-main-nav__ul {
    margin: -4px 2rem 0px 2rem;
  }

  /* on desktop screens it can't be closed */
  .g-main-nav__ul.g-main-nav--closed {
    display: block;
  }
}
