.css-changes-for-example-only {
  padding: 2.5rem 2rem;
}

.css-changes-for-example-only .g-flex-col {
  background: #eeeeee;
  outline: solid 1px black;
  text-align: center;
  font-size: small;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}
